// follow 8 grid system 8 multibles(margin,padding)
$eightgrid-8:8px;

$eight-grid-1:($eightgrid-8*1)px;
$eight-grid-2:($eightgrid-8*2)px;
$eight-grid-3:($eightgrid-8*3)px;
$eight-grid-4:($eightgrid-8*4)px;
$eight-grid-5:($eightgrid-8*5)px;
$eight-grid-6:($eightgrid-8*6)px;
$eight-grid-7:($eightgrid-8*7)px;
$eight-grid-8:($eightgrid-8*8)px;
$eight-grid-9:($eightgrid-8*9)px;
$eight-grid-10:($eightgrid-8*10)px;
$eight-grid-11:($eightgrid-8*11)px;
$eight-grid-12:($eightgrid-8*12)px;


